---
import Base from "@/layouts/Base.astro";
import MainContainer from "@/components/MainContainer";
import PageHeader from "@/partials/PageHeader";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const integrations = await getCollection("integrations", ({ data, id }) => !data?.draft && !id.startsWith("-"));
  return integrations.map((integration) => ({
    params: { single: integration.id },
    props: { integration },
  }));
}

const { integration } = Astro.props;

// Draft redirect
if ((integration.data as any).draft) return Astro.redirect("/404");

const { Content } = await render(integration);

const { title, meta_title, description, image, page_header } = integration.data as any;
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader page_header={page_header} client:load />
  <section>
    <MainContainer>
      <div class="lg:w-4/5 mx-auto container-padding-y container-padding-x">
        <div class="content">
          <Content />
        </div>
      </div>
    </MainContainer>
  </section>
</Base>
